<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form th:object="${questionForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <!-- th:replace는 웹 페이지의 공통 레이아웃(헤더, 푸터, 네비게이션 바 등)을 재사용하기 위해 특정 태그를 미리 만들어둔 템플릿(조각)으로 '통째로 교체'하는 속성입니다. -->
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">
            <!-- th:field="*{title}"이라고 작성하면 렌더링될 때 id="title", name="title"이 자동으로 붙습니다.-->
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>
